.templateStats {
    background-color: rgba(0, 0, 255, 0.5);
    color: yellow;
    align-items: center;
    text-shadow: 3px 3px rgba(255, 0, 0, 0.651);
   
}

.results {
    
    font-size: 30px;
}

.otherbox h3 {

  color: yellow;
  text-shadow: 3px 3px rgba(255, 0, 0, 0.651)
   

}

.otherbox {
    padding: 2%;
    color: white;
}