.template {
    
    display: flex;   
    text-align: center;
    background-color: rgba(0, 0, 255, 0.5);
    color: rgba(255, 255, 0, 0.651);
    

  
    
    
}

body {
    font-family: 'Permanent Marker', cursive;
    font-family: 'Raleway', sans-serif;    
    
}

.template div{
    flex-grow: 1;
    border: solid 1px rgba(255, 255, 0, 0.308);
    border-radius: 1px;
       
   
}



h1 {
    font-size: clamp(16px, 8vw, 100px);
    
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
     
}

.timerDiv h2 {
    font-size: clamp(16px, 8vw, 240px);
    color: rgb(255, 217, 0);
    text-shadow: 1px 1px 2px rgb(255, 0, 0), 0 0 25px blue, 0 0 5px darkblue;
}

.timerDiv h3 {
    font-size: clamp(14px, 4vw, 200px);
    text-shadow: 1px 1px rgba(255, 0, 0, 0.651);
    color: white;
    
    
}

.timerDiv {
    width: 50%;
    
}


.timerDiv span {
    font-size: clamp(16px, 8vw, 30px);
    color: white;
}

.template div h4 {
    font-size: clamp(16px, 4vw, 40px);
   

}

.template div h5 {

    font-size: clamp(16px, 4vw, 80px);
    color: yellow;

}






.template div h6 {
    font-size: clamp(16px, 4vw, 40px);
   
    
}


.righthandside {
 color: rgba(255, 255, 0, 0.651);
 width:0%;
 text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
 
}

.righthandside div {
 border-left: none;
 text-shadow: 1px 2px rgba(255, 0, 0, 0.651)
 
}

.righthandside h4 {
    color:rgba(255, 255, 0, 0.719);

   
}

.righthandside h5 {
    
    font-size: clamp(16px, 4vw, 70px);
}



.left-hand-side {
    color: rgba(255, 255, 0, 0.651);
 
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.left-hand-side div {
    border-right: none;
}


.status {
   margin-top: 15%;
   margin-bottom: 15%;
   
}

.status h3 {
   font-size: clamp(14px, 2vw, 50px);
}

.centreDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
  
  
}

.centreDiv div {
    border: 2px white solid;

    text-align: left;
}

.centreDiv h3 {
    font-size: 40px;
}

.results-header {
    color: rgba(205, 217, 255, 0.795);
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px blue, 0 0 5px darkblue;
}


