.template {
    
    display: flex;   
    text-align: center;
    background-color: blue;
    color: yellow;
    

  
    
    
}

body {
    font-family: 'Permanent Marker', cursive;
font-family: 'Raleway', sans-serif;
    
    
}
.template div{
    flex-grow: 1;
    border: solid 2px yellow;
    border-radius: 2px;
  
   
   
   
}

.timerDiv {
    width: 500px;
    color:white;
   
}

h1 {
    font-size: 100px;
     
}

.template div h1 {
    font-size: 150px;
}

.template div h2 {
    font-size: 80px ;
}

.template div h4, h5 {
    font-size: 40px;
}



.template div h6, h3 {
    font-size: 40px;
    
}

.righthandside {
 color: yellow;

}

.status {
   margin-top: 15%;
   margin-bottom: 15%;
   
}

.status h3 {
    font-size: 60px;
}

.centreDiv {
    display: flex;
    flex-direction: row;
  justify-content: center;
  
  
}

.centreDiv div {
    border: 2px white solid;

    text-align: left;
}

