.template {
    
    display: flex;   
    text-align: center;
    background-color: rgba(0, 0, 255, 0.5);
    color: yellow;
    

  
    
    
}

body {
    font-family: 'Permanent Marker', cursive;
font-family: 'Raleway', sans-serif;
    
    
}
.template div{
    flex-grow: 1;
    border: solid 1px yellow;
    border-radius: 5px;
       
   
}

.timerDiv {
    width: 30%;
    color:white;
    text-align: center;
    
   
}

h1 {
    font-size: 100px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
     
}

.timerDiv h2 {
    font-size: 220px;
    color: rgba(255, 217, 0, 0.904);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.timerDiv h3 {
    font-size: 80px;
    text-shadow: 3px 3px rgba(255, 0, 0, 0.651)
    
}

.template div h1 {
    font-size: 150px;
   
}



.template div h4, h5 {
    font-size: 40px;
}



.template div h6 {
    font-size: 40px;
    
}

.righthandside {
 color: rgba(255, 255, 0, 0.651);
 width:0%;
 text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.left-hand-side {
    color: rgba(255, 255, 0, 0.651);
    width:10px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.status {
   margin-top: 15%;
   margin-bottom: 15%;
   
}

.status h3 {
    font-size: 60px;
}

.centreDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
  
  
}

.centreDiv div {
    border: 2px white solid;

    text-align: left;
}

