.setblinds {
   
   
   display: flex;
   flex-wrap: wrap;
 
   
}

.seats {
   display: flex;
   flex-direction: column;
 
   padding: 2%;
   font-weight: bold;
   
   
}

.blinds {
   display: flex;
   flex-direction: column;
   padding: 2%;
   font-weight: bold;

  
}