.setblinds {
   
   
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   background-color: rgba(0, 0, 255, 0.5);
   color: aliceblue;
   font-size: larger;
 
   
}

.seats {
   display: flex;
   flex-direction: column;

   padding: 2%;
   font-weight: bold;
   
   
}

.blinds {
   display: flex;
   flex-direction: column;
   padding: 1%;
   font-weight: bold;

  
}

.blinds label {
   padding: 5px;
}

form {
   display: flex;
   flex-direction: column;
}

.top-part {
   display: flex;
   justify-content: center;
   font-size: larger;

   
}

input {
   background-color: black;
   color: aliceblue;
   opacity:70% ;
}